* {
	font-family: 'Source Code Pro', monospace;
}

body {
	background-color: #002b36;

	margin: 0;
	padding: 0;
}

#explorer {
	position: fixed;
	height: 100%;
	width: 300px;
	top: 0;
	left: 0;

	margin: 0;
	padding: 0;

	background-color: #001a20;
}

#main-content {
	position: absolute;
	top: 0;
	left: 300px;

	width: auto;
	height: 100%;

	background-color: #002b36;

	margin: 0;
	padding: 0 0 0 10px;
}

.editor-project {
	color: white;
	width: auto;
	margin: 0;
	padding: 5px;
	align-content: center;
	background-color: #002833;
	font-family: 'Roboto', sans-serif;
}

.editor-files {
	list-style: none inside;

	margin: 10px 0px 0px 5px;
	padding: 0;
}

.editor-files ul {
	list-style: none inside;
}

.editor-files li {
	padding: 5px 0px 5px 0px;
}

.editor-files li a:link{
	text-decoration: none;
	color: #6788c0;
}
.editor-files li a:visited{
	text-decoration: none;
	color: #6788c0;
}
.editor-files li a:hover{
	text-decoration: none;
	color: white;
}
.editor-files li a:active{
	text-decoration: none;
}

.current-project {
	background-color: #000c0f;
	margin-left: -5px;
}
.current-project a{
	padding-left: 5px;
}

.profile-list {
	list-style-type: none;
}

.preprocess {
	color: #cb4b16;
}

.class {
	color: #709d06;
	margin-bottom: -10px;
}

.function {
	color: #b58900;
}

.string {
	color: #2aa198;
}

.variable {
	color: #808000;
}

.symbol {
	color: #93a1a1;
}

.closing_brace {
	margin-top: -10px;
}
