* {
	font-family: 'Source Code Pro', monospace;
}

body {
	background-color: #93a1a1;
}

ul {
	list-style-type: none;
}

.preprocess {
	color: #cb4b16;
}

.class {
	color: #709d06;
	margin-bottom: -10px;
}

.function {
	color: #b58900;
}

.string {
	color: #2aa198;
}

.variable {
	color: #808000;
}

.symbol {
	color: #93a1a1;
}

.closing_brace {
	margin-top: -10px;
}

#main-content {
	width: 60vw;
	height: 100vh;

	background-color: #002b36;

	display: block;
	margin: -25px auto -25px auto;
	padding: 20px 20px 20px 40px;

	border-style: solid;
	border-color: #2aa198;
	border-width: 1px;
}
