body{
    background-color: #e8f5e9;
}

.projekt-entry{
    margin-top: 10px;
    background-color: white;
}

.page{
    margin-top: -10px;
    background-color: white;
    border-radius: 5px;
}

#about-me-page{ 
    padding: 10px 20px 0px 20px;
}

#about-me-page div div *{ 
    margin-bottom: -5px;
}

#contact-page{
    padding: 10px 20px 10px 20px;
}

.tabs .indicator {
    background-color: #66bb6a;
}
