body{
    background-color: #e8f5e9;
}

.projekt-entry{
    margin-top: 10px;
    background-color: white;
}

.page{
    margin-top: -10px;
    background-color: white;
    border-radius: 5px;
}

#about-me-page{
    padding: 20px;
}

#contact-page{
    padding: 20px;
}

.tabs .indicator {
    background-color: #66bb6a;
}
